# Data Collection
pyalex==0.13
requests==2.31.0

# NLP & Embeddings
transformers==4.40.0
torch==2.2.0
sentence-transformers==2.7.0

# Vector Database
chromadb==0.5.0
accelerate==0.29.0

# Topic Modeling
bertopic==0.16.0
scikit-learn==1.4.2

# LLM / RAG
google-generativeai==0.5.0
ollama==0.1.9

# Frontend
streamlit==1.34.0

# Data handling
pandas==2.2.2
numpy==1.26.4

# Evaluation
rouge-score==0.1.2
